<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El Portal donde podrás crear tus propias Preguntas</p>

    <%= respuesta %> <p>

    <a href="/quizes/question"> Inténtelo de Nuevo </a>
    
  </body>
</html>
