<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a Quiz</h1>
    <p>El Portal donde podrás crear tus propias Preguntas</p>

    <form method="get" action="/quizes/answer">
      Pregunta: <%= pregunta %> <p>
      <input type="text" name="respuesta" value="Respuesta Aquí" />
      <input type="submit" value="Enviar">
    </form>
    
  </body>
</html>
